{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}

{% block content %}
<div class="pull-right noprint">
        {% block buttons %}{% endblock %}
</div>
<h1>{% block title %}E164 Task Logs{% endblock %}</h1>
<div class="row">
        <div class="col-md-9">
        {% include 'utilities/obj_table.html'%}
    </div>
        <div class="col-md-3 noprint">
                {% include 'inc/search_panel.html' %}
        </div>
</div>
{% endblock %}