{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}

{% block content %}
<div id="alert_wrapper">
  
</div>
<div class="pull-right noprint">
        {% block buttons %}{% endblock %}
</div>
<h1>{% block title %}E164 Devices{% endblock %}</h1>
<div class="row">
        <div class="col-md-9">
        {% include 'utilities/obj_table.html' %}
    </div>
</div>
<script src="/static/jquery/jquery-3.5.1.min.js"></script>
<script>
    function ajax_sync_e164(device_id) {
      var url="{% url 'plugins:netbox_e164:ajax_sync_e164' %}"
      $.ajax({
        url: url,
        data: {
          'device_id': device_id
        },
        success: function (data) {
          alert = document.getElementById("alert_wrapper")
          alert.innerHTML = data


        }
      })
    }
</script
{% endblock %}