{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}

{% block content %}
<div class="pull-right noprint">
        {% block buttons %}{% endblock %}
        {% if permissions.add and 'add' in action_buttons %}
            {% add_button "plugins:netbox_e164:e164number_add" %}
        {% endif %}
        {% if permissions.add and 'import' in action_buttons %}
            {% import_button "plugins:netbox_e164:e164number_import" %}
        {% endif %}
        {% if 'export' in action_buttons %}
            {% export_button content_type %}
        {% endif %}

</div>
<h1>{% block title %}E164 Numbers{% endblock %}</h1>
<div class="row">
        <div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_delete_url="plugins:netbox_e164:e164number_delete" %}
    </div>
        <div class="col-md-3 noprint">
                {% include 'inc/search_panel.html' %}
        </div>
</div>
{% endblock %}